/* Aquí es los styles de forms */
.form {
  display: flex;
  flex-direction: column;
}

.form__input_el_hover:hover {
  opacity: 70%;
}

.form__fieldset {
  flex-direction: row;
  border: none;
  padding: 0;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin: 0;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
}

.form__button {
  margin: 0;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  width: 100%;
  max-width: 385px;
  background-color: #2f80ed;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_el_checkbox {
  margin: auto;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checkbox_visible-item {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #fff;
}

.form__label-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-left: 12px;
}
